<h1>Add a Room</h1>
	<ul>
		<% @room.errors.full_messages.each do |error| %>
		<li><%= error %></li>
		<% end %>
	</ul>

	<%= form_for @room do |f| %>
		<%= f.label :room_name %>
		<%= f.text_field :room_name %>
		<br>
		<%= f.label :description %>
		<%= f.text_field :description %>
		<br>
		<%= f.submit %>
	<% end %>





